/*  reset  */
* {
    box-sizing:border-box;
    padding: 0px;
    margin: 0;
    font-family: 'Roboto', sans-serif;    list-style-type: none;
} 

/*  base styles  */
body {
    background-image: linear-gradient(180deg, #3c9114 0%, #e1a497 100%);

}

#bodynosotros{
background-image: url("/img/galeria/pared_museo.jpg");
background-size:cover; /* Ajusta la imagen para cubrir toda la página */
background-repeat: no-repeat; /* Evita que la imagen se repita */
background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el desplazamiento de la página */
background-position: center ; 
}

.contenedor-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}
/*---NAVBAR---*/
.header-grid {
    background-color: rgb(0, 0, 0);
    min-height: 5em;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
} 
/*Logo del nav*/
.header-grid .logo {
    display: flex;
    align-items: center;
    height: 4em;
    width: auto;
    margin-left: 1em;
}
/* Menú del nav*/
.menu li{
    display: inline-block;
    text-decoration: none;  
    padding: 1em 0em;
}
.menu li a{
    color: rgb(188, 182, 182);
    text-decoration: none;
    padding: 1em;
}
.menu li a:hover {
    background-color: #DF293B;
    border-radius: 4px;
}
/*---FOOTER---*/
#pie{
    width: 100%;
    background-color: #040404;
    color: #7c7c7c;
    margin:auto;
    display: grid;
    gap: 1em;
    padding: 1em 0em 0em;
}
#pie .box{
    grid-column: 1/4;
}
#pie .box h1{
    font-size: 1.8em;
}
#pie .box h2{
    margin-bottom: 20px;
    margin-left: 1.5em;
    font-size: 1em;
}
#pie .box .esc {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 2em;
}
#pie .box a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 47px;
    text-align: center;
    border-radius: 20px;
    background-color:#7c7c7c;
    margin-right: 1em;
    transition: all 300ms ease;
}
#pie .box .redes-soc {
    text-align: center;
}
#pie .box a:hover{
    background-color: #df293b;
}
.grupo2 {
    background-color: #282828;
    padding: 0.8em 0;
    text-align: center;
    color: #696969;
    display: grid;
    grid-column: 1/4;
}


/*--- MAIN---*/
.main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr; 
}
.section2{
    display: flex;
    flex-direction: column;
    width:auto; 
    height: auto;
    /* padding: 2em 0em;  */
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;  
}

.section3 .sec3{
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
#section3nosotros {
    background:rgba(54, 54, 54, 0.757);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.25);
    color:#282828;
    margin: 0.8em;
    padding: 1em;
    color: rgb(188, 182, 182);
    text-align: center;
}

/*---Pagina Inicio----*/
#hero{
    width:auto;
    position:relative;
    height:60vh;
    background-image:url(/img/galeria/banner_1.jpg);
    background-position-x:40%;
    background-position-y:93%;
}
 
.mensaje-inicio{
    position:absolute;
    top:20%;
    padding:1em;
    margin-left:1em;
    width:55%;
    max-width:300px;
    height:60%;
    min-height:220px;
    background:rgba(54, 54, 54, 0.757);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.25);
    color:#282828;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.mensaje-inicio h1{
    color: rgb(188, 182, 182);
    padding: 0.4em;
}
.mensaje-inicio .boton-nosotros{
    padding: 0.7em;
    border-radius: 5px;
}

.alentador{
    display: flex;
    align-items: center;
    background-color: #3c9114;
    height:25vh;
    padding: 1.5em;
    color:rgb(242, 242, 242);
}

.alentador a{
    color:rgb(242, 242, 242);
    font-weight: lighter;
    font-size: 0.7em;

        
}
.alentador .badenPowell{
    padding-left: 1em;
    width: 150px;
}
.alentador .badenPowell img{
    max-height: 180px;
}
.sec3 p{
    margin: auto;
    max-width: 600px;
    padding: 1em;
    
}
.sec3 .img-s3 img{
    width: 12em;
    padding: 0.5em;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
}
.sec3 .img-s3 img:hover{
    transform: scale(1.2);
}
.cta{
    background-color:#3c9114;
    padding: 1em;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.cta .boton-cta{
    background-color: red;
    border-radius: 5px;
    padding: 0.8em;
    text-decoration: none;
    color:white;
    border: rgba(0, 0,0,.5);
}
.container-boton {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.botonwa{
    width: 2.5em;
}
.user-box {
    border: 1px solid #ccc;
    padding: 2em;
    margin: auto;
    margin-top: 1em;
    width: 80%;
    max-width: 400px;
    display: inline-block;
    text-align: center;
}
.user-box img{ border-radius: 50%;}

.contacto div {
    padding: 1em;
    border:2px solid rgb(231, 7, 7);
    margin: 2em;
    background-color: #fbfbfb;
   
}
#nosotros{
    color: white;
    text-align:center;
}
.ser-scout{
    background-image: linear-gradient(180deg, #108e19 0%, #e1a497 100%);
    padding: 1em;
    max-width: 630px;
    margin: auto;
    margin-top: 15em;
}
.programas {
    background-image: linear-gradient(180deg, #d6d4b4 0%, #e1a497 100%);
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.programa{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 530px ;
}
.programa h4{
    padding: 0.5em;
}
.prgrama h5{
    padding: 0.3em;
}
.programa .insignia{
    width: 30%;
    padding: 0.5em;
}


/*      --------------formulario-------------- */

.form{
    padding: 2em;
    border: 3px solid rgb(35, 32, 32);
    margin: 1em; 
    border-radius: 10px;  
    padding:auto;  
    background-color: #fbfbfb;    
}
.form input, select{
    background-color: #ecdedf;
    width: 100%;  
    height: 40px; 
    border-radius: 5px;
    border-color: #000000;
}
.form textarea{
    width: 100%; 
    height: 150px; 
    border-radius: 8px;  
    background-color: rgb(255, 255, 255);
}
.form label{
    display: block; 
    float: center;  
} 

/* seudoclases validaciones */

.contact-form{
    --form-ok-color:rgb(149, 246, 149);
    --form-error-color:red;
    margin-left: auto;
    margin-right: auto;
}
.contact-form [required]:valid{
    border:thin solid var(--form-ok-color);
}
.contact-form  [required]:invalid{
    border:thin solid var(--form-error-color);
}
.none{
    display: none;
}

/* ------ Galeria ---------- */
.pre-galeria{
    padding: 2em 1em;
    background-color:#3c9114;
    color: white;
}

.section2 .titulo-galeria{
    text-align: center;
    padding:0.5em 0.2em;
    color: rgb(188, 182, 182);
    grid-column: 1/2;    
}

.section2 .galeria{
    margin: 0.5em;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px)1fr);
    background:rgba(54, 54, 54, 0.757);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.25);
    grid-gap: 10px;
    overflow: hidden;
}
.galeria img{
    width: 95%;
    margin:0.5em;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;   
}
.galeria a:hover img{
    filter: blur(2px);
    transform: scale(1.05);
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition:transform .3s ease-in-out ;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.light-box img{
    max-height: 95vh;
    width: 90%;
}
.light-box:target{
    transform: scale(1);
}
.close{
    display: block;
    position: absolute;
    top:10em ;
    right: 1em;
    background: red;
    color: #fbfbfb;
    text-decoration: none;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height:2em ;
    border-radius: 50%;
}
.next{
    display: block;
    background-color: white;
    border-radius: 50%;
    width: 1em;
    
}

    /*---Media Queries---*/

/* small tablet styles*/
@media screen and (min-width: 420px){
    .header-grid{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    } 
    
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
    .light-box img{
        max-height: 95vh;
        width: auto;
    }
    .section2 .titulo-galeria{
        grid-column: 1/3;
    }
    .programa .insignia{
        width: 140px;
    }
    .programas{
        display: flex;
        flex-wrap: wrap;
    }
    
    
}
/*  large tablets*/
@media screen and (min-width: 960px){
    .galeria {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .section2 .titulo-galeria{
        grid-column: 1/4;
    }

    
}
