
/*  variables  */

/*  reset  */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*Titulos*/
    list-style-type: none;
   } 

/*  base styles  */
body {
    background-image: linear-gradient(180deg, #3c9114 0%, #e1a497 100%);

}

#bodynosotros{
background-image: url("/img/galeria/uniformados.jpg");
background-size:cover; /* Ajusta la imagen para cubrir toda la página */
background-repeat: no-repeat; /* Evita que la imagen se repita */
background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el desplazamiento de la página */
background-position: center ;    
}

.contenedor-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}
/*---NAVBAR---*/
.header-grid {
    /* background-color: rgb(0, 0, 0); */
    background-color: #000000;
    background-image: linear-gradient(90deg, #000000 0%, #303030 30%, #606060 100%);
    min-height: 5em;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
} 
/*Logo del nav*/
.header-grid .logo {
    display: flex;
    align-items: center;
    height: 4em;
    width: auto;
}
/* Menú del nav*/
.menu li{
    display: inline-block;
    text-decoration: none;  
    padding: 1em 0em;
}
.menu li a{
    color: rgb(188, 182, 182);
    text-decoration: none;
    padding: 1em;
}
.menu li a:hover {
    background-color: #DF293B;
    border-radius: 4px;
}

/*--- MAIN---*/
.main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr; 
}
.section2{
    display: flex;
    flex-direction: column;
    width:auto; 
    height: auto;
    /* padding: 2em 0em;  */
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;  
}

.section3 .sec3{
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
#section3nosotros {
    padding: 1em;
    color:#ee6c77;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}

/*---Pagina Inicio----*/
#hero{
    width:auto;
    position:relative;
    height:60vh;
    background-image:url(/img/galeria/banner_1.jpg);
    background-position-x:40%;
    background-position-y:93%;
}
 
.mensaje-inicio{
    position:absolute;
    top:20%;
    padding:1em;
    margin-left:1em;
    width:55%;
    max-width:300px;
    height:60%;
    min-height:220px;
    background:rgba(54, 54, 54, 0.757);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.25);
    color:#282828;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.mensaje-inicio h1{
    color: rgb(188, 182, 182);
    padding: 0.4em;
}
.mensaje-inicio .boton-nosotros{
    padding: 0.7em;
    border-radius: 5px;
}

.alentador{
    background-color: #3c9114;
    height:25vh;
    padding: 2em;
    color:rgb(242, 242, 242);
}
.alentador h2 a{
    color:rgb(242, 242, 242);
    
}
.sec3 .img-s3 img{
    width: 12em;
    padding: 0.5em;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    object-fit: cover;
}
.sec3 .img-s3 img:hover{
    transform: scale(1.2);
}
.conocenos{
    background-color: red;
    padding: 1em 0em;
}
.conocenos .boton-conocenos{
    display: inline;
    margin-left: 33%;
    padding: 0.5em;
}

/*---FOOTER---*/
.footer{
    display: flex;
    justify-content:center ;
    width: 100vw;
    align-items: flex-start;
    padding: 2em 3em 2em 3em;
    background-color: #040404;
    color: #7C7C7C;
    height: auto; 
}
.extra{
   display: flex; 
    row-gap: 1em;
    font-size: 1em;
    font-size: 5em;
}
.redes{
    display: flex; 
    column-gap: 2em;
    display: inline-block;
    padding: 2em 0em 2em 3em;
}




.contacto{
    
    display: flex;
    height: auto;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;
}

.contacto #info {
    /* background-color: #7C7C7C; */
    padding: 1em;
    border:2px solid rgb(231, 7, 7);
    margin: 1.2em;
    height: 10em;
    width: 96%;
}


#maps{
    margin: 2em;
    width: 96%;
    height: auto;
}
#maps iframe{
    width: 100%;
}

#nosotros{
    color: white;
    text-align:center;
}
.ser-scout{
    background-image: linear-gradient(180deg, #108e19 0%, #e1a497 100%);
    padding: 1em;
    margin: 1em;
}
.programas{
    background-image: linear-gradient(180deg, #108e19 0%, #e1a497 100%);    padding: 1em;
    margin: 1em;
}
.programa{
    padding: 0.5em;
}
.manada,.unidad,.caminantes,.rovers {
    padding: 0.625em;
    line-gap-override: 1em;
}

/* --FORMULARIO-- */
.form{
    padding: 1.2em;
    width: 23em;
    border: 3px solid rgb(35, 32, 32);
    /* margin: 1em;  */
    border-radius: 0.625em;  
    padding:auto;  
    background-color: #fbfbfb;    
}
input, select{
    background-color: #daaeb2;
    width: 90%; 
    height: 2em; 
    border-radius: 5px;
    border-color: #000000;
}
textarea{
    width: 90%; 
    height: 9.4em; 
    border-radius: 8px;  
    border-color: #894c52;
    background-color: rgb(255, 255, 255);
}
.boton-contacto{
    height: 2em; 
    padding: 0 0.4em 0 0.4em ;  
    margin: 0.625em 0 1.25em 0 ;
    text-transform: uppercase;
    border-radius: 5px;  
    width: 90%;   
    cursor: pointer;
    background-color: rgb(244, 177, 177);
}
  label{
    display: block; 
    float: center;  
  }

  /* Contenedor de imag. en carrusel */
 
    .img-s3{
       text-align: center;
    }
    .carrousel{
        width: 91%;
        height:45% ;
        background:rgba(54, 54, 54, 0.757);
        backdrop-filter: blur(3px);
        border: 1px solid rgba(255,255,255,0.25);
        color:#282828;
    }
    .conteCarrousel{
        width: 100%;
        height: 45%;
        overflow: hidden;
    }
    .itemCarrousel{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .itemCarrouselTarjeta{
        width: 100%;
        height: 100%;
    }
    .itemCarrouselTarjeta img{
        width: 100%;
        align-items: center;
        padding: 0.5em;
    }
    .itemCarrouselArrows{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px; 
    }
    
    .conteCarrouselController{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .conteCarrouselController > a{
        text-decoration: none;
        font-size: 2em;
        color: rgb(7, 1, 1);
    }
    .itemCarrouselArrows > a > i{
        color: white;
    }




/* small tablet styles*/
@media screen and (min-width: 420px){
    .header-grid{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
    } 
    #hero{
        height: 80vh;
        background-position: center;
    }
}
/*  large tablets*/
@media screen and (min-width: 960px){
    
}
/* desktop styles*/
@media screen and (min-width: 1200px){
    
}