*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#navbar{
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    margin-left:-12px;
    
    
}

.logo{
    display:flex;
    height: 66px;
    margin-left: 20px;
    margin-top: 15px;
}

#navbar.menu.item{
    position:relative;
    text-align: right;
    list-style: none;
    text-decoration-line:none;
    
}
.first{
    position:relative;
    
}
#img_inicio{
    margin-left: 0;
    

}

