* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor-grid>* {
    box-shadow: -1px 1px 7px 0px black;
    border-radius: 4px;

}

.contenedor-grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/*Nav bar */
.header-grid {
    background-color: rgb(0, 0, 0);
    grid-area: header;
    padding: 1em;
}

.header-grid {
    display: grid;
    grid-template-areas: "logo nav";

}

/*Logo del nav*/
#navbar-grid img {
    grid-area: logo;
    width: 4.2em;
    margin-left: 1em;

}


/*Menu*/
ul.menu {
    grid-area: nav;
    margin: 1.5em;
    text-align: right;
}

#navbar-grid ul.menu li {
    display: inline;
    font-size: 1.5em;
    align-content: right;
}

#navbar-grid ul.menu li a {
    padding: 1em;
    color: #fff;
    text-decoration: none;
}

#navbar-grid ul.menu li a:hover {
    background: red;
    border-radius: 5px;
}

.checkbox,
.fi-br-menu-burger,
.fi-br-cross {
    display: none;
}

/*Sector del main*/
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 25em;
    grid-template-rows: 1fr 25em 25em;
    grid-template-areas: "section1 section1 section1"
    "section2 section2 sidebar"
    "section3 section3 sidebar"
    ;
    background-color: rgba(28, 141, 28, 0.958);


}

.section1{
    grid-area: section1;
    background-color: aqua;
    display: flex;
}
.section2{
    grid-area: section2;
    background-color: blueviolet;
}
.section3{
    grid-area: section3;
    background-color: chartreuse;
}
.aside{
    grid-area: sidebar;
    background-color: coral;
}

/*Menu hamburguesa con media query*/
@media only screen and (max-width: 725px) {
    .navbar {
        position: relative;
        padding: 2em 3em;
    }

    .checkbox,
    .icons {
        color: white;
        position: absolute;
        top: 3em;
        right: 3em;
        display: block;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .icons {
        pointer-events: none;

    }

    .checkbox {
        opacity: 0;
    }

    .fi-br-cross {
        display: none;
    }

    .checkbox:checked~.fi-br-menu-burger {
        display: none;
    }

    .checkbox:checked~.fi-br-cross {
        display: block;
    }

    .menu {
        width: 20em;
        position: absolute;
        top: -160px;
        z-index: -1;
        right: -20px;
        display: none;
        transition: 250ms;
    }

    .menu li a {
        text-decoration: none;
        color: inherit;
        background-color: #000000;
        display: block;
        padding: 1em 2em;

    }

    .checkbox:checked~.menu {
        display: block;
        z-index: 1;
        top: 4em;
    }

    .menu li a:hover {
        background-color: red;
    }

    .main{
        grid-template-columns: 1fr;
        grid-template-areas:
        "section1"
        "section2"
        "section3"
        "sidebar";
    }
}

/*---Imagen Inicio---*/

#img_inicio {
    display: inline;
    position: relative;

}


/*Cartel de presentacion*/
.presentacion {
    background-color: aliceblue;
    border-radius: 12px;
    margin: 1em;
    padding: 1em;
}

/*pag nosotros*/
.section1 .img-nosotros{
    padding: 1em;
    border: 1px solid red;
}
.section1 .img-nosotros img{
    width: 50em;
    
}

/* Estilo del footer */
.footer
{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 2em 5em 2em 3em;
    background-color: black;
    color: white;
    height: auto; 

}

.extra{
    display: flex;
    row-gap: 1em;
    font-size: 1em;
    font-size: 5em;
}
.redes{
    display: flex;
    column-gap: 2em;
    display: inline-block;
    padding: 2em 0em 2em 3em;

}

